<nav>
  <li>
    <a [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Home</a> 
  </li>
  <li>
    <a [routerLink]="['/page1']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Page1</a>
    <ul>
      <li>
        <a [routerLink]="['/page1/subpage1']" routerLinkActive="router-link-active" >SubPage1</a>
      </li>
    </ul>
  </li>
  <li>
    <a [routerLink]="['/page2']" routerLinkActive="router-link-active">Page2</a> 
  </li>
  <li>
    <a [routerLink]="['/page3']" routerLinkActive="router-link-active">Page3</a> 
  </li>
  <li>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> 
  </li>
</nav>

<router-outlet></router-outlet>
